.App-header {
  font-family: "Pacifico", cursive;
  font-size: 50px;
  margin-bottom: 10px;
  text-align: center;
}

.App footer {
  font-size: 10px;
  margin-top: 10px;
  padding-left: 50px;
}

.App {
  padding: 50px;
  background: linear-gradient(-225deg, #7de2fc 0%, #b9b6e5 100%);
}
